{% extends "base.html" %}
{% load static %}
{% block stylesLink %} <link rel="stylesheet" href="{% static 'css/correctionstyle.css' %}"> {% endblock %}
{% block title %} Correction {% endblock %}
{% block content %}
<h1>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, eos?
</h1>
<p class="glass">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis dolorum nobis eveniet, exercitationem nam labore, possimus aut a nemo qui praesentium tempore quos minus eum magni quibusdam illo voluptate modi provident asperiores quis facilis quia porro! Rem, expedita dignissimos eligendi nesciunt aut libero illum voluptates consequuntur cupiditate excepturi perferendis saepe?
</p>
{% endblock %}